<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo!</h1>
            <p class="lead">Este é um simples blog do Guia do Programador.</p>
            <hr class="my-4">
            <p>Imitação do guiaPress.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Siba Mais</a>
          </div>
        <% articles.forEach(article => {%>
            <div class="card">
                <div class="card-header">
                    <h2><%=article.title%></h2>
                </div>
                <br>
                <div class="card-body">
                    <a href="<%=article.slug%>" class="btn btn-success"> Ler artigo</a>
                </div>
            </div>
        <% }) %>
        <div class="row">
            <div class="cl col-12">

                <a style = 'float: right;'href="articles/page/1">Proximo >>></a>
            </div>
            <hr>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>