<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">

            <form method = "POST"action="/articles/save">
                <input class = "form-control"type="text" name ='title' plceholder = "Defina o titulo do Artigo">
                <br>
                <textarea class = "form-control" id = 'article'
                placeholder = "Escreva o artigo aqui"
                name="body" id="" cols="30" rows="10"></textarea>
                <br>
                <label>Categoria</label>
                <select class= "form-control"name="category" id="">
                    <%  categories.forEach(category => {%>
                    
                        <option value = "<%=category.id%>"><%=category.title%></option>
                    <% }) %>
                </select>
                <br>
                <button class = "btn btn-success"> Cadastrar</button>
            </form>

        </div>
    </div>
</div>   
    
      
<%- include ('../../partials/footer.ejs') %>

<!-- Script responsvel pela conexão com o TinyMCE
biblioteca responsvel para criação de tectos como
word, com edição e formatação de texto-->
<script src = '/tinymce/js/tinymce/tinymce.min.js'></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: '#article',
        plugins: [
            'advlist autolink link image lista print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>