<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>


<div class="container">
    <hr>
    <h2>Usuarios</h2>
    <a href = '/admin/users/create' class = "btn btn-success"> Criar novo usuario</a>
    <hr>
    <table class= 'table table-bordered' >
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
            <% users.forEach(user => { %>
                <tr>
                    <td><%=user.id%></td>
                    <td><%=user.email%></td>
                </tr>
            <% }) %>
        
        </tbody>
    </table>
</div>



<%- include ('../../partials/footer.ejs') %>
